<div class="col-4 d-flex align-items-stretch">
    <div class="programme-card px-4 pb-4 shadow text-left d-flex flex-column">
        <div class="mb-auto">
            <div class="time-pane t42-31str-bg shadow d-inline-block">
                <span class="serious-font text-white"><%- time %></span>
            </div>
            <img class="w-100 mb-4" src="<%- pictureUrl %>"/>
            <div class="h4"><%- title %></div>
            <p class="t1-4-clr"><%- description %></p>
        </div>
        <div class="info-block">
            <ul class="m-0">
                <% for(var i=0; i < info.length; i++) { %>
                    <li><b class="mr-2 t1-2-clr"><%- info[i].title %></b> <%- info[i].text %></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>