<div class="row mx-0 d-flex temoin-card">
    <% if(picturePlace == "left") { %>
        <div class="col-sm-4 col-2 pl-0 align-self-end text-center">
            <img src="<%- pictureUrl %>"/>
        </div>
    <% } %>
    <div class="col-sm-8 col-10 align-self-end pb-3 pr-0">
        <div class="bg-white shadow">
            <div class="px-4 py-3 t1-6-bg">
                <h4 class="mb-1"><%- name %></h4>
                <p class="m-0 t1-4-clr">- <%- sub %></p>
            </div>
            <div class="px-5 pt-4 pb-5">
                <em class="m-0"><%- text %></em>
            </div>
        </div>
    </div>
    <% if(picturePlace == "right") { %>
        <div class="col-sm-4 col-2 pl-0 align-self-end text-center">
            <img src="<%- pictureUrl %>"/>
        </div>
    <% } %>
</div>