<div class="row mx-0 d-flex temoin-card">
    <% if(picturePlace == "left") { %>
        <div class="col-md-4 col-sm-3 col-2 pl-0 align-self-end text-center">
            <img src="<%- pictureUrl %>"/>
        </div>
    <% } %>
    <div class="col-md-8 col-sm-9 col-10 align-self-end pb-3 <% if(picturePlace == "left") { %>pr-0<% } else {%>pl-0<% } %>">
        <div class="bg-white shadow">
            <div class="px-3 py-sm-3 py-2 t1-6-bg">
                <table>
                    <tr><td rowspan="2" valign="top" class="pt-1 pr-3"><span class="d-inline-block bg-white"></span></td><td valign="top"><h4 class="h5 m-0"><%- name %></h4></td></tr>
                    <tr><td valign="top"><p class="m-0 t1-4-clr"><b>-</b> <%- sub %></p></td></tr>
                </table>
            </div>
            <div class="p-sm-4 p-3 pb-sm-5 pb-4">
                <em class="pl-3 py-1 d-block"><%- text %></em>
            </div>
        </div>
    </div>
    <% if(picturePlace == "right") { %>
        <div class="col-md-4 col-sm-3 col-2 pr-0 align-self-end text-center">
            <img src="<%- pictureUrl %>"/>
        </div>
    <% } %>
</div>