<%- include('partials/head.ejs', {
    pageKey: pageKey,
    title: "Constance & Guillaume | Mariage 2022",
    description: "Constance & Guillaume vous invitent à leur mariage le 2 juillet 2022 au château de Campet, dans les Landes. Venez comme vous êtes et en pleine forme !",
    pageFullUrl: websiteUrl,
    sharingImgUrl : "constance-et-guillaume-public.jpg"
}) %>

<div id="main">
    <div id="v2">
        <section class="container-fluid py-0 t1-2-bg" id="accueilV2">
            <div class="row">
                <div class="container accueil-switch-buttons pt-4 text-right">
                    <button class="btn btn-1-outline-14 px-3 py-2 white-clr mr-2" data-target="#v1">Site V1</button>
                    <div class="btn btn-4 px-3 py-2">Site V2</div>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center div-2">
                <div class="col-12 text-center pb-5">
                    <h2 class="h1 mb-4 text-uppercase text-white">Merci</h2>
                    <p class="main-txt text-uppercase mx-auto m-0 t1-6-clr">et pour dire les choses avec poésie : on a kiffé.</p>
                </div>
            </div>
        </section>
        <section class="container nav-section bg-white" id="mot">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-md-block d-none col-12 pt-4">
                    <div class="img"><div></div></div>
                </div>
                <div class="col-lg-5 col-md-6 col-12 py-4">
                    <h2 class="mb-5">Love you guys.</h2>
                    <p class="m-0 t1-3-clr">
                        Nous voulions tout de même vous dire à quel point nous avons aimé notre mariage. 
                        Cadre, météo, nourriture, boisson, musique, ambiance&hellip; on a juste adoré passer ce moment avec vous. 
                        Mais ce que nous avons aimé partager, au-delà de tout, c'est les émotions que nous avons vécues et qui nous ont traversées, en cette journée si importante pour nous. 
                        Alors, un gros merci pour votre présence !
                        <br/>
                        <br/>On voulait aussi remercier les nombreuses personnes qui ont donné du temps pour aider à organiser, ranger 🪑. Ceux qui nous on fait des cadeaux 
                        - car franchement, on a été super gâtés 🙄. Ceux qui ont laissé un mot hyper touchant dans le livre d'or 📖, ou encore qui ont 
                        joué le jeu jusqu'au bout, en faisant une photo très sauvage au Photobooth 🍑🙈. Et enfin, ceux qui ont accompagné leur cadeau d'une petite carte 📝. 
                        Elles ont été nombreuses et très touchantes, nous arrachant nos dernières larmes sur la route du retour. Et il y en a des vraiment magnifiques.
                        <br/>
                        <br/>Bref, MERCI. On a passé un moment d'une beauté et d'une intensité au-delà de nos espérances. On s'en souviendra toute notre vie.
                    </p>
                </div>
            </div>
        </section>
        <section class="container-fluid py-0 t2-0-bg" id="bg1" <%# id="video" %>>
            <%# 
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <div class="video-container">
                                    <div><video controls><source src="/videos/video.mp4" type="video/mp4"/></video></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            %>
        </section>
        <section class="container nav-section text-center" id="photosMariage">
            <h2 class="mb-sm-3 mb-6">Les photos</h2>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-12 mb-6">
                    <h4 class="mb-2 t1-1-clr">Galerie photo</h4>
                    <p class="mb-3 t1-3-clr">
                        La galerie des photos prises par le photographe. Vous pouvez toutes les visionner, et les télécharger aux formats web (petite taille) ou HD. 
                        Il y a un petit DIAPORAMA à regarder pour la mise en bouche.
                    </p>
                    <a href="https://thomasdalfarra.pic-time.com/-constanceguillaume/gallery" target="_blank">https://thomasdalfarra.pic-time.com/-constanceguillaume/gallery</a>
                </div>
                <div class="col-lg-8 col-12 mb-6">
                    <h4 class="mb-2 t1-1-clr">Photobooth</h4>
                    <p class="mb-3 t1-3-clr">
                        Les photos du photobooth. Elles sont dans le dossier <b>Photobooth</b> du <b>Google Drive</b> <i>(cf. ci-dessous)</i>. Là aussi, vous pouvez les télécharger au besoin. Vous avez été sauvages.
                    </p>
                    <a href="https://drive.google.com/drive/folders/1cuRu-PcO7oWn-O2g4s-jIQ32qtN_jXjr" target="_blank">https://drive.google.com/drive/folders/1cuRu-PcO7oWn-O2g4s-jIQ32qtN_jXjr</a>
                </div>
                <div class="col-lg-8 col-12">
                    <h4 class="mb-2 t1-1-clr">Google Drive (photos partagées)</h4>
                    <p class="mb-3 t1-3-clr">
                        Partagez ici vos photos et récupérez facilement celles des autres. Si vous n'êtes pas à l'aise avec le partage sur <b>Google Drive</b>, 
                        une petite notice est disponible <a class="link t2-2-clr" href="Mariage_Constance_&_Guillaume_-_Notice_partager_mes_photos.pdf" download="Mariage_Constance_&_Guillaume_-_Notice_partager_mes_photos.pdf">juste ici</a>.
                    </p>
                    <a href="https://drive.google.com/drive/folders/1f_oe4xLQ4XQ2AXkg3EHPncaihoia--L9" target="_blank">https://drive.google.com/drive/folders/1f_oe4xLQ4XQ2AXkg3EHPncaihoia--L9</a>
                </div>
            </div>
        </section>

        <section class="container-fluid py-0 t2-0-bg" id="bg2"></section>

        <section class="container nav-section text-center" id="prestas">
            <h2 class="mb-sm-3 mb-5">Les prestataires</h2>
            <p class="mb-7 main-txt t1-2-clr">
                On voulait aussi remercier deux de nos prestataires particulièrement géniaux le jour J, aussi bien dans leur travail que pour tout un tas de choses qu'il est 
                impossible de voir pour les invités. Alors, si vous avez apprecié la nourriture et/ou les photos, vous pouvez laisser un avis positif, toujours une super récompense pour un 
                entrepreneur.
            </p>
            <div class="row d-flex justify-content-around">
                <div class="col-lg-5 col-md-6 col-12 mb-6 text-center presta-container">
                    <div class="mb-5"><img src="images/v2/arnaud.jpg"/></div>
                    <h4 class="mb-3 t1-1-clr">Maison bop</h4>
                    <p class="mb-5 desc-txt t1-3-clr">
                        Le traiteur du mariage. En plus de nous avoir vraiment régalé, Maison bop a su s'adapter et être hyper arrangeant sur tous les points. 
                        Sans oublier l'extrême gentillesse de son équipe. Un gros merci Arnaud !
                    </p>
                    <div class="mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                            <g transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
                                <path fill="#4285F4" d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z"/>
                                <path fill="#34A853" d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z"/>
                                <path fill="#FBBC05" d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z"/>
                                <path fill="#EA4335" d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z"/>
                            </g>
                        </svg>
                    </div>
                    <p class="mb-1 t1-1-clr">5 étoiles pour Maison Bop</p>
                    <a class="link" target="_blank" href="https://www.google.com/search?q=maison+bop&rlz=1C1CHBF_frFR887FR887&oq=maison+bop&aqs=chrome..69i57j46i175i199i512j0i10i22i30j0i22i30.1510j0j9&sourceid=chrome&ie=UTF-8#lrd=0xd560c7d768198b5:0x520120ed2ac3b937,3,,,">
                        Cliquez ici
                    </a>
                </div>
                <div class="col-lg-5 col-md-6 col-12 text-center presta-container">
                    <div class="mb-5"><img src="images/v2/thomas.jpg"/></div>
                    <h4 class="mb-3 t1-1-clr">Thomas Dal Farra</h4>
                    <p class="mb-5 desc-txt t1-3-clr">
                        Un gros merci à Thomas, le photographe du mariage, qui a su donner de la voix et de la blague douteuse pour prendre les meilleures 
                        photos. Quant au tri et retouches, on vous laisse jugez par vous-même avec les liens ci-dessus :)
                    </p>
                    <div class="mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                            <g transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
                                <path fill="#4285F4" d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z"/>
                                <path fill="#34A853" d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z"/>
                                <path fill="#FBBC05" d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z"/>
                                <path fill="#EA4335" d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z"/>
                            </g>
                        </svg>
                    </div>
                    <p class="mb-1 t1-1-clr">5 étoiles pour Thomas</p>
                    <a class="link" target="_blank" href="https://www.google.com/search?q=thomas+dal+farra&rlz=1C1CHBF_frFR887FR887&oq=thomas+dal+farra&aqs=chrome.0.69i59.2368j0j4&sourceid=chrome&ie=UTF-8#lrd=0xd516bc555cc9999:0x3eda53f72698e4d5,1,,,">
                        Cliquez ici
                    </a>
                </div>
            </div>
        </section>

        <section class="container-fluid py-0 t2-0-bg" id="bg3"></section>
    </div>



<%# ----------------- V1 --------------- %>

    <div id="v1" class="not-displayed">
        <section class="container-fluid py-0" id="accueil">
            <div class="row d-flex align-items-end">
                <div class="container accueil-switch-buttons pt-4 text-right">
                    <div class="btn btn-4 px-3 py-2 mr-2">Site V1</div>
                    <button class="btn btn-1-outline-14 px-3 py-2 white-clr" data-target="#v2">Site V2</button>
                </div>
            </div>
            <div class="row">
                <div class="container pt-6 bg-photo-container">
                    <div>
                        <div class="row">
                            <div class="col-lg-6 col-md-4 d-md-flex d-none"></div>
                            <div class="col-lg-6 col-md-8 col-12 header-container text-center">
                                <div class="d-inline-block py-3 px-4">
                                    <h2 class="mb-4">Constance & Guillaume</h2>
                                    <div class="mb-4 header-border d-inline-block"></div>
                                    <h1 class="mb-4 text-uppercase"><span class="d-block">Vous invitent</span><small class="d-block">à leur</small>mariage</h1>
                                    <div class="header-border d-inline-block"></div>
                                    <h2 class="header-date">2.07.2022</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid nav-section py-7" id="nous">
            <h2 class="mb-6 text-center">Un terre-mer entre les Landes et le Bassin</h2>
            <div class="row">
                <div class="container">
                    <div class="row d-flex d-flex justify-content-around">
                        <div class="col-lg-5 col-sm-6 col-12 mb-5">
                            <div class="img constance mb-4"><div></div></div>
                            <h3 class="t1-11-cr">Elle</h3>
                            <p class="m-0">
                                Hello, moi c'est Constance, 
                                28 ans, initialement professeur des écoles. 
                                Plutôt nature et touche à tout, il faut croire que ce que j'aime le plus, c'est nos délires bien à nous : pêcher des vers, monter notre boîte, boire des bières, cuisiner des pieuvres, faire du sport, dresser notre chat..., bref on ne peut plus classique ;) 
                                Mais ce dont j'ai surtout hâte, c'est de vous voir tous réunis pour faire la fête avec nous ♡
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-6 col-12">
                            <div class="img guillaume mb-4"><div></div></div>
                            <h3 class="t1-11-cr">Lui</h3>
                            <p class="m-0">
                                Holà ! Je m'appelle Guillaume et je vis à Bordeaux, ville que j'affectionne pour son équilibre ville & nature. 
                                Ingénieur des Mines, j'adore la technique - même si elle semble de plus en plus incompatible avec la pérennité de notre si belle planète. 
                                Je suis très fier des Arroseurs, l'entreprise que nous avons créée avec Constance. 
                                Sinon, j'adore la pêche - surtout nocturne, le foot, les champignons et les burritos !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="container-fluid nav-section py-0 t1-12str-bg" id="photos">
            <div class="row py-6">
                <div class="container-fluid">
                    <h2 class="mb-5 text-center">Photo Box</h2>
                    <div class="row">
                        <div class="container pb-5">
                            <div id="carouselPhotos" class="carousel slide" data-ride="false" data-interval="1000000000">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-1 d-md-flex d-none pr-0">
                                        <a class="carousel-control carousel-control-prev" href="#carouselPhotos" role="button" data-slide="prev">
                                            <svg viewBox="0 0 59.414 59.414" fill="currentColor"><polygon points="45.268,1.414 43.854,0 14.146,29.707 43.854,59.414 45.268,58 16.975,29.707 "/></svg>
                                        </a>
                                    </div>
                                    <div class="col-lg-8 col-md-10 col-12">
                                        <div class="carousel-inner-wrapper">
                                            <div class="carousel-inner shadow bg-white">
                                                <div class="carousel-item active"><div><img src="/images/constance-et-guillaume/cg-1.jpg"/></div></div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-2-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-2-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item"><div><img src="/images/constance-et-guillaume/cg-3.jpg"/></div></div>
                                                <div class="carousel-item"><div><img src="/images/constance-et-guillaume/cg-4.jpg"/></div></div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-5-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-5-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item"><div><img src="/images/constance-et-guillaume/cg-6.jpg"/></div></div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-7-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-7-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item"><div><img src="/images/constance-et-guillaume/cg-8.jpg"/></div></div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-9-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-9-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item"><div><img src="/images/constance-et-guillaume/cg-10.jpg"/></div></div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-11-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-11-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-12-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-12-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-13-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-13-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-14-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-14-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-15-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-15-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-16-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-16-2.jpg"/></div>
                                                </div>
                                                <div class="carousel-item carousel-itel-double-content">
                                                    <div><img src="/images/constance-et-guillaume/cg-17-1.jpg"/></div>
                                                    <div><img src="/images/constance-et-guillaume/cg-17-2.jpg"/></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 d-md-flex d-none pl-0">
                                        <a class="carousel-control carousel-control-next" href="#carouselPhotos" role="button" data-slide="next">
                                            <svg viewBox="0 0 47.255 47.255" fill="currentColor"><path d="M12.314,47.255c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l21.92-21.92l-21.92-21.92   c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L35.648,22.92c0.391,0.391,0.391,1.023,0,1.414L13.021,46.962   C12.825,47.157,12.57,47.255,12.314,47.255z"/></svg>
                                        </a>
                                    </div>
                                </div>
                                <ol class="carousel-indicators mx-auto">
                                    <li data-target="#carouselPhotos" data-slide-to="0" class="active"><b>1</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="1"><b>2</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="2"><b>3</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="3"><b>4</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="4"><b>5</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="5"><b>6</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="6"><b>7</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="7"><b>8</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="8"><b>9</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="9"><b>10</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="10"><b>11</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="11"><b>12</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="12"><b>13</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="13"><b>14</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="14"><b>15</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="15"><b>16</b></li>
                                    <li data-target="#carouselPhotos" data-slide-to="16"><b>17</b></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="container-fluid nav-section" id="temoins">
            <h2 class="mb-sm-3 mb-5 text-center">Les Témoins</h2>
            
            <div class="row">

            <%# GUILLAUME %>
                <div class="container-fluid mb-6">
                    <div class="row">
                        <div class="container">
                            <div id="carouselGuillaumesTemoins" class="carousel slide" data-ride="false" data-interval="1000000000">
                                <div class="row d-flex justify-content-center">
                                    <div class="d-md-flex d-none col-1 pr-0">
                                        <a class="carousel-control carousel-control-prev" href="#carouselGuillaumesTemoins" role="button" data-slide="prev">
                                            <svg viewBox="0 0 59.414 59.414" fill="currentColor"><polygon points="45.268,1.414 43.854,0 14.146,29.707 43.854,59.414 45.268,58 16.975,29.707 "/></svg>
                                        </a>
                                    </div>
                                    <div class="col-lg-9 col-md-10 col-12">
                                        <div class="carousel-inner-wrapper row">
                                            <div class="carousel-inner">
                                                <div class="carousel-item col-12 active">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "left",
                                                        pictureUrl: "images/temoins/adrien.png",
                                                        name: "Adrien Guémy",
                                                        sub: "Ami & Parrain des Mines",
                                                        text: "Le pote geek et amical, plus cérébral que manuel. Parisien, depuis toujours. Toujours partant pour aller boire des coups, à condition que je trouve de la place dans mon agenda de ministre. Sportif du dimanche, mais dangereux : la seule fois où Guillaume m’a mis un petit pont, il a fini à l’hôpital !"
                                                    }) %>
                                                </div>
                                                <div class="carousel-item col-12">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "left",
                                                        pictureUrl: "images/temoins/cyril.png",
                                                        name: "Cyril Maubé",
                                                        sub: "Ami & Teamate &Eacute;quipe de Foot",
                                                        text: "Salut à tous !<br/>Je me présente, protocole oblige : Cyril, surfer dès l’âge de marcher, un brin épicurien, l’échange mon dada, le commerce ma voie.<br/>Quel honneur, fierté, plaisir de pouvoir être le témoin de Guillaume (mon petit frère comme j’aime dire, moins talentueux que son grand frère mais tout de même, on voit qu’il est de la famille !) pour son mariage avec Constance, sa belle Princesse !"
                                                    }) %>
                                                </div>
                                                <div class="carousel-item col-12">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "left",
                                                        pictureUrl: "images/temoins/salim.png",
                                                        name: "Salim Diallo",
                                                        sub: "Ami & Compagnon de Classe Préparatoire",
                                                        text: "Salut c’est Salim ! J’ai 31 ans et j’habite à Toulouse. Physicien, j’ai l’immense honneur d’être le témoin de mon cher ami Guillaume (mon seul adversaire de taille aux dames) pour son mariage avec Constance. Tout en leur souhaitant le meilleur pour la vie. Hâte de tous vous voir pour cet évènement !"
                                                    }) %>
                                                </div>
                                                <div class="carousel-item col-12">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "left",
                                                        pictureUrl: "images/temoins/olivier.png",
                                                        name: "Olivier Blanchard",
                                                        sub: "Ami & Camarade de classe IUT",
                                                        text: "Hello,<br/>Moi c'est Olivier, 32 ans, ingénieur en génie civil.<br/>Maintenant 15 ans d'amitié avec Guillaume depuis l'IUT des excès. Branleur de génie, mais ingénieur des soirées, lorsqu'il y a de la bière dans nos verres impossible de s'en défaire, alors avec Guillaume c'est forcément le binôme.<br/>Après tout ce temps, super heureux de participer à son mariage avec Constance et extrêmement honoré d’être son témoin.<br/>Hâte de vous rencontrer tous pour fêter ça comme il se doit."
                                                    }) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-md-flex d-none col-1 pl-0">
                                        <a class="carousel-control carousel-control-next" href="#carouselGuillaumesTemoins" role="button" data-slide="next">
                                            <svg viewBox="0 0 47.255 47.255" fill="currentColor"><path d="M12.314,47.255c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l21.92-21.92l-21.92-21.92   c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L35.648,22.92c0.391,0.391,0.391,1.023,0,1.414L13.021,46.962   C12.825,47.157,12.57,47.255,12.314,47.255z"/></svg>
                                        </a>
                                    </div>
                                </div>
                                <ol class="carousel-indicators mx-auto">
                                    <li data-target="#carouselGuillaumesTemoins" data-slide-to="0" class="active"><b>1</b></li>
                                    <li data-target="#carouselGuillaumesTemoins" data-slide-to="1"><b>2</b></li>
                                    <li data-target="#carouselGuillaumesTemoins" data-slide-to="2"><b>3</b></li>
                                    <li data-target="#carouselGuillaumesTemoins" data-slide-to="3"><b>4</b></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            <%# CONSTANCE %>
                <div class="container-fluid pt-5 pt-sm-0">
                    <div class="row">
                        <div class="container">
                            <div id="carouselConstanceTemoins" class="carousel slide" data-ride="false" data-interval="1000000000">
                                <div class="row d-flex justify-content-center">
                                    <div class="d-md-flex d-none col-1 pr-0">
                                        <a class="carousel-control carousel-control-prev" href="#carouselConstanceTemoins" role="button" data-slide="prev">
                                            <svg viewBox="0 0 59.414 59.414" fill="currentColor"><polygon points="45.268,1.414 43.854,0 14.146,29.707 43.854,59.414 45.268,58 16.975,29.707 "/></svg>
                                        </a>
                                    </div>
                                    <div class="col-lg-9 col-md-10 col-12">
                                        <div class="carousel-inner-wrapper row">
                                            <div class="carousel-inner">
                                                <div class="carousel-item col-12 active">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "right",
                                                        pictureUrl: "images/temoins/marion.png",
                                                        name: "Marion Gasparotto",
                                                        sub: "Amie & Classmate du lycée",
                                                        text: "Bonjour cher.e.s invité.e.s, je m'appelle Marion, je suis landaise tout comme la (future) mariée et très honorée d'être présente à ses côtés en ce moment si important ! Il y a 12 ans, c'est sous un arbre et au son de notre JJ adoré, que nous avons commencé à refaire le monde, sans plus jamais nous arrêter ! \"Moi aussi\" est certainement la phrase que nous avons le plus prononcée tant de points communs nous nous sommes trouvés. Constance & Guillaume, je vous souhaite une longue et belle vie ensemble, et je compte bien garder une petite place à vos côtés !"
                                                    }) %>
                                                </div>
                                                <div class="carousel-item col-12">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "right",
                                                        pictureUrl: "images/temoins/tiffany.png",
                                                        name: "Tiffany Bernard",
                                                        sub: "Amie & Classmate de fac",
                                                        text: "Hello à tous !<br/>Je m'appelle Tiffany. Si je devais résumer mon amitié avec Constance aujourd'hui avec vous, je dirais que c'est d'abord une rencontre, une personne qui m'a tendu la main, peut être à un moment où je ne pouvais pas... Bon, petit clin d'oeil à mon petit, ma Constance, ma coloc de fac&hellip; bref mon amie que j'aime tout particulièrement. Une petite idée de nos délires qui sont restés en mémoire et plein d'autres restent à venir&hellip; En tout cas, très heureuse de partager ce magnifique moment avec vous tous. À très vite!!"
                                                    }) %>
                                                </div>
                                                <div class="carousel-item col-12">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "right",
                                                        pictureUrl: "images/temoins/sarah.png",
                                                        name: "Sarah Descoubes",
                                                        sub: "Amie & Classmate du lycée",
                                                        text: "Depuis notre rencontre il y a 12 ans j’ai été Landaise, Paloise, Parisienne puis Guadeloupéenne, mais ma jolie roussette n’a jamais quitté mon cœur – et mon amour pour elle grandit encore à chaque fois que je la vois ! Aujourd’hui je suis très émue et heureuse de traverser l’océan pour vous accompagner dans cette merveilleuse aventure. Je vous embrasse et vous souhaite un doux et beau mariage."
                                                    }) %>
                                                </div>
                                                <div class="carousel-item col-12">
                                                    <%- include('partials/temoin_card.ejs', {
                                                        picturePlace: "right",
                                                        pictureUrl: "images/temoins/clement.png",
                                                        name: "Clément Dulucq",
                                                        sub: "Frangin",
                                                        text: "J'me présente, je m'appelle Clément,<br/>Je suis l'grand frère depuis 28 ans, pour la viiie!<br/>Joueur de foot, papa d'deux enfants,<br/>Je vis à Bordeaux depuis plus d'dix ans,<br/>Mais parolier c'est pas vraiment mon job à plein temps&hellip;<br/>Très heureux d'être le témoin de ma petite sœur pour ce jour qui, j'en suis sûr, sera très spécial pour elle et Guillaume.<br/>À bientôt pour faire la fête !"
                                                    }) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-md-flex d-none col-1 pl-0">
                                        <a class="carousel-control carousel-control-next" href="#carouselConstanceTemoins" role="button" data-slide="next">
                                            <svg viewBox="0 0 47.255 47.255" fill="currentColor"><path d="M12.314,47.255c-0.256,0-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414l21.92-21.92l-21.92-21.92   c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L35.648,22.92c0.391,0.391,0.391,1.023,0,1.414L13.021,46.962   C12.825,47.157,12.57,47.255,12.314,47.255z"/></svg>
                                        </a>
                                    </div>
                                </div>
                                <ol class="carousel-indicators mx-auto">
                                    <li data-target="#carouselConstanceTemoins" data-slide-to="0" class="active"><b>1</b></li>
                                    <li data-target="#carouselConstanceTemoins" data-slide-to="1"><b>2</b></li>
                                    <li data-target="#carouselConstanceTemoins" data-slide-to="2"><b>3</b></li>
                                    <li data-target="#carouselConstanceTemoins" data-slide-to="3"><b>4</b></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="container-fluid nav-section" id="programme">
            <div class="row">
                <div class="container">
                    <h2 class="mb-6 text-center">Programme</h2>
                    <div class="row">
                        <div class="col-12 text-center mb-5" id="programMenuDays">
                            <div class="row text-left mb-6">
                                <div class="col-md-5 col-sm-10 col-12">
                                    <ul class="row my-0 p-0" id="programMenu">
                                        <li class="col-sm-6 col-4 pr-0 d-flex flex-column active" data-form-to="0" data-target="#programMenuDays">
                                            <h3 class="mb-2 text-uppercase t1-1-clr"><b>Samedi</b></h3>
                                            <span class="mt-auto"></span>
                                        </li>
                                        <li class="col-sm-6 col-8 d-flex flex-column " data-form-to="1" data-target="#programMenuDays">
                                            <h3 class="mb-2 text-uppercase t1-1-clr"><b>Dimanche</b></h3>
                                            <span class="mt-auto"></span>
                                        </li>
                                    </ul>
                                    <div class="bar"></div>
                                </div>
                            </div>

                            <div class="row program-days-container">
                                <div class="col-12 program-day-container">
                                    <div class="row d-flex justify-content-center">
                                        <%- include('partials/program_card.ejs', {
                                            time: "15:00",
                                            title: "La Cérémonie religieuse",
                                            description: "Rendez-vous à l'&Eacute;glise Notre-Dame pour la cérémonise religieuse. Arrivez la voix fraîche et l'esprit léger&hellip; pour les meilleurs et pour les pires 🙏",
                                            pictureUrl: "images/eglise.jpg",
                                            info: [
                                                {
                                                    title: "Lieu",
                                                    text: '<a class="t1-2-clr" target="_blank" href="https://goo.gl/maps/G4mDHvBiXdcUBmPJA">Église Notre-Dame, Rue de la Paix, 40700 Doazit</a>'
                                                },
                                                {
                                                    title: "Parking",
                                                    text: "<i>Un bon nombre de places autour de l'église. Prévoyez tout de même d'arriver un peu en avance.</i>"
                                                }
                                            ]
                                        }) %>
                                        <%- include('partials/program_card.ejs', {
                                            time: "17:30",
                                            title: "Le Cocktail",
                                            description: "Après l'&Eacute;glise, on se retrouve pour le cocktail d'ouverture dans le jardin du château. Vous pourrez y siroter la boisson de votre choix, manger de petits fours, et profiter de quelques surprises 🥂",
                                            pictureUrl: "images/campet.jpg",
                                            info: [
                                                {
                                                    title: "Lieu",
                                                    text: '<a class="t1-2-clr" target="_blank" href="https://goo.gl/maps/JwMo45kLurB4zqNH8">Château de Campet, 40090 Campet-et-Lamolère, Palais</a>'
                                                },
                                                {
                                                    title: "Parking",
                                                    text: "<i>En épi à l'entrée du château.</i>"
                                                }
                                            ]
                                        }) %>
                                        <%- include('partials/program_card.ejs', {
                                            time: "20:00",
                                            title: "Le Dîner - Soirée",
                                            description: "Rendez-vous ensuite au pied de l'Orangerie pour déguster de délicieux plats cuisinés devant vous. Mangez, profitez, et prenez des forces pour la soirée&hellip; 🔥",
                                            pictureUrl: "images/soiree.jpg",
                                            info: [
                                                {
                                                    title: "Lieu",
                                                    text: "Toujours au château 🏰"
                                                }
                                            ]
                                        }) %>
                                    </div>
                                </div>

                                <div class="col-12 program-day-container not-displayed">
                                    <div class="row d-flex justify-content-center">
                                        <%- include('partials/program_card.ejs', {
                                            time: "12:00",
                                            title: "Le brunch",
                                            description: "Des chocolatines pour la team Sud-Ouest, des pains au chocolat pour les provinciaux : venez déguster un bon brunch de landemain de soirée 🥐<br/><br/>Il y aura aussi un petit tournoi avec lots à gagner 🏆",
                                            pictureUrl: "images/brunch.jpg",
                                            info: [
                                                {
                                                    title: "Lieu",
                                                    text: "Et toujours au château 🏰"
                                                }
                                            ]
                                        }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right"><em class="t1-5-clr">Oooh yeah that's cool Baby !</em></div>
                </div>
            </div>
        </section>


        <section class="container-fluid nav-section t1-11-bg py-0" id="theme">
            <div class="row">
                <section class="container-fluid">
                    <h2 class="mb-5 text-center text-white"><small>Le thème :</small> Sauvage</h2>
                    <div class="row">
                        <div class="container">
                            <p class="mb-6 main-txt text-center mx-auto t1-7-clr">
                                C'est le début de l'été. La végétation est dense et colorée. Un petit vent doux nous caresse le cou. 
                                <br class="d-none d-lg-block"/>Le soleil nous réchauffe la peau. Les journées sont longues. Oui, votre première inspiration est la bonne.
                            </p>
                            <div class="row">
                                <div class="col-lg-8 col-12 mb-5" id="dress">
                                    <h4 class="text-white">Dress</h4>
                                    <div class="row">
                                        <div class="col-3 block-4 p-1"><div></div></div>
                                        <div class="col-9 pl-sm-4 pl-2 block-5">
                                            <p class="t4-6-clr mb-2">
                                                Classique habillé de rigueur. Si vous avez le choix dans vos tenues ou accessoires, vous pouvez enfiler une robe aux couleurs savane, ou arborer une cravate feuillue&hellip;
                                            </p>
                                            <table class="t4-6-clr mb-3">
                                                <tr><td valign="top" class="pr-2"><b>Couleurs accessoires</b></td><td valign="top">Vert, Orange</td></tr>
                                                <tr><td valign="top" class="pr-2"><b>Motifs</b></td><td valign="top">Fleurs, Feuilles, Tigre, Léopard&hellip;</td></tr>
                                            </table>
                                            <p class="t1-5-clr mb-1">
                                                <svg viewBox="0 0 446.519 446.519" fill="currentColor"><path d="M407.295,413.576l-87.036-191.894c-2.799-6.171-8.436-15.562-12.565-20.933l-15.89-20.672  c-3.404-4.428-3.865-12.222-1.007-17.021c0.856-1.438,20.995-35.371,22.598-48.449c1.532-12.5,3.047-38.174,3.063-38.432  c0.357-6.082,3.773-15.317,7.458-20.167l19.972-26.279c4.341-5.712,7.912-15.053,8.13-21.266c0.117-3.334-1.087-5.306-2.117-6.373  C348.581,0.723,346.778,0,344.688,0c-2.021,0-4.185,0.665-6.433,1.977L232.365,63.74c-2.346,1.369-5.665,2.154-9.106,2.154  c-3.44,0-6.759-0.785-9.105-2.154L108.264,1.977C106.016,0.665,103.851,0,101.831,0c-2.09,0-3.893,0.723-5.213,2.091  c-1.03,1.067-2.233,3.039-2.117,6.373c0.218,6.213,3.789,15.554,8.129,21.266l19.973,26.279c3.686,4.851,7.104,14.086,7.464,20.168  c0.014,0.243,1.452,24.423,2.813,36.458c1.534,13.562,22.051,48.852,22.924,50.347c2.819,4.832,2.321,12.66-1.088,17.095  l-15.89,20.67c-4.13,5.374-9.767,14.765-12.565,20.933L39.224,413.576c-1.657,3.654-1.584,7.337,0.2,10.105  c1.784,2.768,5.108,4.355,9.12,4.355h4.584c6.154,0,15.902,2.52,21.286,5.502l18.539,10.269c3.157,1.749,7.315,2.711,11.708,2.711  s8.552-0.963,11.708-2.711l18.539-10.269c2.393-1.326,5.777-2.085,9.286-2.085c3.508,0,6.893,0.76,9.286,2.085l18.539,10.269  c3.157,1.749,7.315,2.711,11.709,2.711c4.394,0,8.552-0.963,11.708-2.711l18.539-10.269c2.393-1.326,5.777-2.085,9.286-2.085  s6.893,0.76,9.286,2.085l18.539,10.269c3.157,1.749,7.315,2.711,11.708,2.711s8.552-0.963,11.708-2.711l18.539-10.269  c2.393-1.326,5.777-2.085,9.286-2.085c3.509,0,6.893,0.76,9.286,2.085l18.539,10.269c3.157,1.749,7.315,2.711,11.708,2.711  s8.552-0.963,11.708-2.711l18.539-10.269c5.384-2.982,15.131-5.502,21.286-5.502h4.584c4.012,0,7.336-1.587,9.12-4.355  C408.88,420.913,408.952,417.229,407.295,413.576z"/></svg>
                                                <em>Robe ou tenue habillée pour les Dames</em>
                                            </p>
                                            <p class="t1-5-clr m-0">
                                                <svg viewBox="0 0 420 420" fill="currentColor"><g><polygon points="255.645,0 164.357,0 175.267,60 244.735,60"/><polygon points="210,235.132 244.895,130.444 240.43,90 179.572,90 175.105,130.449"/><path d="M210,330L110,30L0,60v360h420V60L310,30L210,330z M390,210h-90v-30h90V210z"/></svg>
                                                <em>Costume pour les Messieurs</em>
                                            </p>
                                        </div>
                                        <div class="col-3 block-1 p-1"><div></div></div>
                                        <div class="col-3 block-2 p-1"><div></div></div>
                                        <div class="col-3 block-3 p-1"><div></div></div>
                                        <div class="col-3 block-6 p-1"><div></div></div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-12">
                                    <div class="row">
                                        <div class="d-none d-lg-flex col-2"></div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12 mb-5" id="music">
                                                    <h4 class="text-white">Music</h4>
                                                    <ul class="m-0">
                                                        <li class="mb-2">
                                                            <span class="mr-2 t1-5-clr">18:00</span> <audio controls controlsList="nodownload noplaybackrate" title="Jane Birkin & Serge Gainsbourg - Je t'aime"><source src="sound/s1.mp3" type="audio/ogg"></audio>
                                                        </li>
                                                        <li class="mb-2">
                                                            <span class="mr-2 t1-5-clr">20:00</span> <audio controls controlsList="nodownload noplaybackrate" title="Ofenbach - Around The Fire"><source src="sound/s2.mp3" type="audio/ogg"></audio>
                                                        </li>
                                                        <li>
                                                            <span class="mr-2 t1-5-clr">00:00</span> <audio controls controlsList="nodownload noplaybackrate" title="U2 - Vertigo"><source src="sound/s3.mp3" type="audio/ogg"></audio>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 mb-5">
                                                    <h4 class="text-white">Obligé ?</h4>
                                                    <p class="m-0 t1-5-clr">Aucune obligation ce jour-là&hellip; seulement pour les mariés.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>


        <section class="container-fluid nav-section" id="rsvp">
            <div class="row">
                <div class="container text-center">
                    <h2 class="mb-5">RSVP</h2>
                    <p class="main-txt mb-5">Merci de remplir le formulaire pour confirmer votre présence :</p>
                    <a class="mb-5 d-inline-block btn py-4 btn-1-outline-14" href="https://forms.gle/KZQxUMNCkeydGKU28" target="_blank">Je confirme ma présence<br/><small><i>et celle de ma famille</i></small></a>
                    <small class="d-block"><em class="t1-5-clr">La liste des invités disponible <a href="https://docs.google.com/spreadsheets/d/1k_SLDqAIeDBY6dDjTfZMJBI3zpyV0WXcZQpOlxWUOdI" class="t4-4-clr" target="_blank"><small>ici</small></a></em></small>
                </div>
            </div>
        </section>


        <section class="container-fluid nav-section t1-6-bg" id="logements">
            <div class="row">
                <div class="container text-center">
                    <h2 class="mb-5">Logements</h2>
                    <p class="main-txt mb-5">Plusieurs possibilités :</p>
                    <div class="row">

                        <div class="col-lg-6 col-12 block-1">
                            <h3 class="mb-5 t1-1-clr">Dormir à proximité</h3>
                            <div class="row">
                                <div class="col-6 mb-5">
                                    <h4 class="t1-2-clr mb-3">Dormir à Mont-de-Marsan<br/><i class="t2-1-clr">10 min</i></h4>
                                    <p class="mb-4 t1-3-clr">
                                        Un service navettes assurera les allez-retours entre le château et Mont-de-Marsan (à priori de 00:00 à 6:00). 
                                        Elle aura pour point de chute <b>la Place du Sablar</b> : nous vous conseillons de réserver un hôtel ou un Airbnb à proximité.
                                    </p>
                                    <div class="mb-5">
                                        <a class="link t2-2-clr" target="_blank" href="https://goo.gl/maps/ebTWJAh8tVn8j5aZ6">
                                            <svg height="18px" class="mr-1 mb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49" fill="currentColor">
                                                <path d="M24.5,0C14.465,0,6.329,8.136,6.329,18.171C6.329,33.076,24.5,49,24.5,49s18.171-15.107,18.171-30.828   C42.671,8.136,34.535,0,24.5,0z M24.5,29.197c-6.202,0-11.229-5.029-11.229-11.229c0-6.202,5.026-11.229,11.229-11.229   c6.201,0,11.229,5.027,11.229,11.229C35.729,24.168,30.701,29.197,24.5,29.197z"/>
                                            </svg> la Place du Sablar
                                        </a>
                                    </div>
                                    <a class="btn btn-4 px-4 py-2" target="_blank" href="https://forms.gle/9KFXrBDdaByDJHqP6">
                                        <svg height="18px" class="mr-1 mb-1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 431.789 431.789">
                                            <path d="M422.438,151.93H390.77c-2.412,0-4.73,0.932-6.471,2.6l-6.76,6.476c-11.395-26.366-27.742-52.439-49.822-79.432   c-11.936-14.585-29.586-22.949-48.43-22.949H152.501c-18.846,0-36.497,8.365-48.426,22.95   c-22.777,27.842-38.799,53.287-49.924,79.338l-6.66-6.383c-1.741-1.668-4.06-2.6-6.472-2.6H9.353c-5.166,0-9.353,4.187-9.353,9.353   v21.651c0,4.937,3.838,9.022,8.765,9.334l32.549,2.05c-4.918,14.371-8.758,35.786-8.758,65.987   c0,26.205,5.234,43.428,14.343,54.578v50.449c0,4.326,3.507,7.832,7.833,7.832h36.029c4.328,0,7.836-3.506,7.836-7.832v-31.328   h234.596v31.328c0,4.326,3.508,7.832,7.834,7.832h36.029c4.326,0,7.834-3.506,7.834-7.832v-50.449   c9.107-11.15,14.344-28.373,14.344-54.578c0-30.201-3.84-51.616-8.758-65.987l32.549-2.05c4.926-0.312,8.764-4.397,8.764-9.334   v-21.651C431.789,156.117,427.604,151.93,422.438,151.93z M130.806,103.442c5.346-6.534,13.254-10.283,21.695-10.283h126.786   c8.441,0,16.352,3.749,21.697,10.283c15.447,18.883,27.646,36.954,37.074,54.955l-244.543,0.046   C102.737,140.842,115.005,122.756,130.806,103.442z M104.157,295.693c-17.933,0-32.469-5.857-32.469-20.066   c0-14.208,5.274-25.729,23.206-25.729s41.73,11.521,41.73,25.729S122.087,295.693,104.157,295.693z M249.93,292.732h-68.069   c-10.262,0-18.61-8.348-18.61-18.609c0-2.878,2.334-5.212,5.214-5.212h94.863c2.879,0,5.211,2.334,5.211,5.212   C268.539,284.385,260.191,292.732,249.93,292.732z M327.633,295.693c-17.932,0-32.469-5.857-32.469-20.066   c0-14.208,23.801-25.729,41.73-25.729c17.932,0,23.207,11.521,23.207,25.729S345.566,295.693,327.633,295.693z"/>
                                        </svg> Je m'inscris<br/>au service de navette
                                    </a>
                                </div>
                                <div class="col-6 mb-5">
                                    <h4 class="t1-2-clr mb-3">Dormir à Doazit<br/><i class="t2-1-clr">40 min</i></h4>
                                    <p class="mb-4 t1-3-clr">
                                        Nous informons nos chers Doazitiens que nous sommes aussi en train de nous renseigner pour un service de navettes. Nouvelles à suivre.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <h3 class="mb-5 t1-1-clr">Dormir sur place</h3>
                            <div class="row">
                                <div class="col-6 mb-5">
                                    <h4 class="t1-2-clr mb-3">Dormir en tente</h4>
                                    <p class="mb-5 t1-3-clr">
                                        Pour 15€, vous avez la possibilité de planter votre tente dans le parc du château. 
                                        Vous aurez accès à toutes les commodités. Proche de la fête ? Du ruisseau ? De la forêt ? 
                                        Choisissez votre emplacement selon votre humeur du moment !
                                    </p>
                                </div>
                                <div class="col-6 mb-5">
                                    <h4 class="t1-2-clr mb-3">S'inscrire à un logement groupé</h4>
                                    <p class="mb-4 t1-3-clr">
                                        Réservation du dortoir à côté de la soirée, d'une grande tente à partager, du gîte à 5 minutes : si vous êtes tenté par une réservation groupée, venez donner vos préférences ici, 
                                        nous reviendrons rapidement avec le résultat des participations. 
                                    </p>
                                    <a class="link t2-2-clr" target="_blank" href="https://forms.gle/K1znnbJ1iCSbpUaCA">
                                        <svg height="22px" class="mr-1 mb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                                            <path d="M469.857,132.571h-256c-19.2-24.686-39.314-27.429-67.657-27.429h-0.914c-38.4,0-67.657,26.514-76.8,36.571H35.571 C15.457,141.714-1,158.171-1,178.286v165.486c0,20.114,16.457,35.657,36.571,35.657H69.4 c35.657,26.514,48.457,27.429,112.457,27.429c33.829,0,72.229-9.143,83.2-10.971c21.029,5.486,42.971-5.486,50.286-26.514 c2.743-8.229,2.743-18.286,0-26.514c16.457,0,32-10.971,37.486-27.429l0.914-0.914c3.657-10.057,2.743-21.943-1.829-31.086    c-0.793-1.586-1.703-3.113-2.707-4.579C368.39,275.177,383,257.816,383,237.714c0-8.229-2.743-16.457-7.314-22.857h94.171 c22.857,0,41.143-18.286,41.143-41.143C511,150.857,492.714,132.571,469.857,132.571z M77.629,362.971 c-1.829-0.914-3.657-1.829-5.486-1.829H35.571c-10.057,0-18.286-8.229-18.286-17.371V178.286c0-10.057,8.229-18.286,18.286-18.286 h36.571c2.743,0,5.486-0.914,7.314-3.657c0,0,27.429-32,64.914-32.914h0.914c28.343,0,41.143,1.829,55.771,23.771l0.914,0.914 l7.159,8.461c22.036,28.897,45.949,60.642,55.013,73.825c9.143,14.629,11.886,26.514,6.4,33.829 c-3.843,4.612-11.562,6.626-18.814,5.525c-1.086-0.225-2.134-0.539-3.129-0.954c-10.971-4.571-30.171-17.371-51.2-34.743 c-0.965-0.724-1.994-1.251-3.052-1.592c-24.916-20.907-48.088-44.686-52.719-56.008c-1.829-4.571-7.314-6.4-11.886-4.571 c-4.571,1.829-6.4,7.314-4.571,11.886c5.734,13.378,27.949,36.993,52.549,58.319c-2.046,2.962-3.64,6.15-5.006,9.338l-0.914,1.829 c-3.522,10.125-2.794,20.668,1.243,29.702c-14.033,2.767-26.476,12.786-31.415,26.984c-7.314,21.029,4.571,44.8,25.6,52.114 l62.6,21.669c-14.524,2.564-31.95,4.845-47.972,4.845C117.857,388.571,110.543,387.657,77.629,362.971z M188.257,301.714    l71.309,24.684l24.404,8.488c4.309,1.664,7.752,4.272,10.256,7.47c0.709,1.033,1.353,2.118,1.916,3.244 c2.743,5.486,2.743,11.886,0.914,17.371c-3.657,11.886-16.457,18.286-29.257,13.714c-0.899,0-1.799-0.22-2.698-0.336 l-91.473-31.664c-12.8-4.571-18.286-17.371-14.629-29.257c1.829-5.486,6.4-10.057,11.886-12.8c2.743-1.829,6.4-2.743,10.057-2.743    C183.686,299.886,186.429,300.8,188.257,301.714z M321.743,280.686c5.486,1.829,10.057,5.486,12.8,10.971 c2.743,4.571,2.743,10.971,0.914,16.457l-0.914,1.829c-1.366,4.099-3.755,7.685-7.163,10.382 c-5.484,3.552-12.412,4.553-19.351,2.418l-18.286-6.4c-1.729-0.576-3.367-0.697-4.857-0.451l-19.85-6.871l-63.064-21.935 c-11.886-4.571-17.371-16.457-13.714-28.343l0.914-1.829c0-0.914,0.914-2.743,1.829-3.657c0.754,0.583,1.496,1.149,2.242,1.722 c16.367,12.993,32.496,23.881,44.435,29.152c0.257,0.114,0.512,0.225,0.765,0.333c0.655,0.28,1.301,0.549,1.929,0.793 c4.412,1.858,9.179,2.709,14.029,2.711c0.5,0.016,0.999,0.032,1.513,0.032c6.336,0,12.666-1.533,18.121-4.406 c7.201-3.218,13.702-8.036,18.45-13.88L321.743,280.686z M341.857,259.657H338.2l-21.029-2.743c-1.43,0-2.86,0.269-4.178,0.778 l-20.507-7.178c-0.539-0.215-1.077-0.376-1.611-0.491c-0.928-8.116-4.319-18.004-12.104-29.68 c-1.028-1.682-2.276-3.614-3.694-5.737l68.608-1.577c5.486,0,10.971,2.743,14.629,6.4c3.657,4.571,6.4,10.057,6.4,16.457 C364.714,248.686,354.657,259.657,341.857,259.657z M469.857,196.571H343.686c-0.914,0-0.914,0-1.829,0h-77.714 c-0.583,0-1.14,0.05-1.679,0.13c-10.128-13.897-22.786-30.532-34.569-45.844h241.963c12.8,0,22.857,10.057,22.857,22.857 S482.657,196.571,469.857,196.571z"/>
                                        </svg> Ma préférence à moi
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="container-fluid nav-section pb-4" id="cadeau">
            <div class="row">
                <div class="container text-center">
                    <h2 class="mb-5">Cadeau</h2>
                    <div class="cadeau-main-block d-inline-block p-3">
                        <div class="p-sm-5 p-4">
                            <div class="cadeau-border mx-auto mb-5"></div>
                            <p class="m-0 text-left t1-2-clr">
                                Chère famille, chers amis,
                                <br/>
                                <br/>Il est vraisemblablement de coutume pour les mariés de fournir une liste de cadeaux auxquels les invités peuvent participer. 
                                Une nouvelle descente lit, un service de vaisselle en porcelaine, le dernier micro-onde Huawei&hellip; ne nous intéressent pas vraiment. 
                                Et c'est avec beaucoup d'amour et une profonde sincérité que nous vous assurons que le vrai cadeau, c'est votre présence en pleine forme à cet évènement qui compte tant pour nous. 
                                Position pas très originale, pourtant c'est exactement <span class="keep">ça !</span>
                                <br/>
                                <br/>&Eacute;videmment, si vous souhaitez participer au-delà du plus beau cadeau qu'est votre présence, nous mettons à disposition une cagnotte 
                                qui servira à financer une partie de notre mariage, ou de notre lune de <span class="keep">miel :</span>
                                <br/><a class="t4-4-clr" target="_blank" href="https://www.leetchi.com/c/mariage-constance-guillaume">https://www.leetchi.com/c/mariage-constance-guillaume</a>
                                <br/>
                                <br/>Une urne sera également présente sur place le jour J.
                                <br/>
                                <br/>Hâte de vous voir tous. On vous aime.
                                <br/>
                                <br/>Constance & Guillaume ♡
                            </p>
                            <div class="cadeau-border mx-auto mt-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="container-fluid pb-4" id="seeYouSoon">
            <div class="row">
                <div class="container text-right">
                    <img src="images/constance-et-guillaume.svg"/>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/foot.ejs') %>
